# 2.3 Типы коллекций. Последовательности, множества, отображения

## Задание 1

**Условие:**
Создайте кортеж из ```10```  произвольных значений. С помощью операции среза выведите только элементы с четными индексами.

**Решение:**

In [ ]:

kortej = ("sobaka", 123, True, [1, 2, 3], "kowka", 3.14, None, "olen", 2024, {"key": "value"})
vivod = kortej[::2]
print(vivod)

('sobaka', True, 'kowka', None, 2024)

## Задание 2

**Условие:**
Создайте список из ```10``` элементов, которые могут быть только ```0``` или ```1```. Примените к полученному списку операцию ```set()```.

**Решение:**

In [ ]:
import random
spisok = random.randint(0,1)
for i in range(10):
  print('isxodniy spisok',spisok)
mnojestvo = set(spisok)
print('множество',mnojestvo)

isxodniy spisok 1
isxodniy spisok 1
isxodniy spisok 1
isxodniy spisok 1
isxodniy spisok 1
isxodniy spisok 1
isxodniy spisok 1
isxodniy spisok 1
isxodniy spisok 1
isxodniy spisok 1

TypeError: 'int' object is not iterable

## Задание 3

**Условие:**
Создайте словарь из ```5``` сотрудников, где ключ - это имя сотрудника, а значение - его заработная плата. Добавьте в него несколько сотрудников. В цикле проиндексируйте зарплату всем сотрудникам на ```10%```.

**Решение:**